
<%if user_signed_in?%>
<%= link_to "Post an image", new_client_path %>
<%end%>
  <ul>
    <% @clients.each do |client| %>
      <li><%= client.name %><br>
        <%= client.tag %>
        <%= image_tag client.image.url(:medium)%>
      </li>
    <% end %>
  </ul>
